.board-header {
    font-size: 14px;
    align-items: center;
    // gap: 5px;
    // margin-bottom: 24px;
    justify-content: space-between ;
    position: sticky;
    top: 0;
    left: 0;
    width: 0;
    z-index: 100;
    background-color: white;
    @include fade-in(0.3s, 0s);

    .board-header-container {
        background-color: rgb(255, 255, 255);
        width: 100dvw;
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 22px;

        .info-row {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title-container {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 32px;
                border-radius: 10px;

                h2 {
                    font-family: poppins, sans-serif;
                    font-weight: 500;
                    font-size: rem(24px);
                    color: #323338;
                    padding-left: 5px;
                    margin: 0;
                }

                &:hover {
                    background-color: #e9eaee;
                    cursor: pointer;
                }
            }

            .users-integration {
                margin-left: auto;
                /* Push to the right end */
            }
        }

        .tables-row {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ddd;

            .tables-row-card {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 32px;
                width: 110px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding-left: 6px;
                padding-right: 6px;
                gap: 5px;
                border-bottom: 2px solid #0060B9;
                white-space: nowrap;

                img {
                    color: #676879;
                    width: 22px;
                    height: 22px;
                    margin-bottom: 0;
                    margin-left: 5px;
                    justify-self: flex-start;
                    padding-right: 5px;
                }

                &:hover {
                    background-color: #e9eaee;
                    cursor: pointer;
                }
            }

            .add-new-table-card {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 32px;
                width: 32px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                padding-left: 6px;
                padding-right: 6px;
                gap: 5px;

                .add-view-icon {
                    color: #383940;
                    width: 12px;
                    height: 12px;
                }


                &:hover {
                    background-color: #e9eaee;
                    cursor: pointer;
                }
            }
        }

        .filter-plus-new-item-row {
            display: flex;
        }
    }
}