.group-header {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    color: var(--color-indicator, #000); 
    gap: 5px;

    span {
        font-family: poppins, sans-serif;
        font-size: em(18px);
    }
}

