.right-side-panel {
    background-color: aqua;
    height: 100%;
    width: 0;
    overflow: hidden; /* Prevents content from showing when width is 0 */
    transition: width 0.3s ease-in-out;
    
    &.open {
        width: 400px;
    }
}