.home-container {   
    display: flex;
    padding: 10px 50px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @include fade-in(0.7s, 0s);
}

.icon-span-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-span-container span {
    font-weight: bold;
}

.icon-button {
    cursor: pointer;
    width: 24px;
    height: 24px;
}