.main-header {
    display: flex;
    align-items: center;
    justify-content: left;
}

.main-header-logo {
    height: 30px;
    margin-right: 5px;
}

.main-header-title {
    font-weight: bold;
    font-size: 25px;
}
