.group-header-column-row {
    display: flex;
    height:27px;
    border: 1px solid rgb(168, 168, 168);
}

.group-header-column-checkbox {

}


.group-header-column-cell {
    color: #323338;
    font-size: 14px;
    height: 100%;
}