.group-header-title-row {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    color: var(--color-indicator, #000);
}

.collapse-group-icon {
    width: 22px;
    height: 22px;
}

.group-header-title-text {
    font-size: 16px;
    font-weight: bold;

    padding-left: 5px;
    padding-right: 4px;
}

.group-summary-text {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-left: 4px;
    color: rgb(103, 104, 121);
}