.app-container {
    font-family: figtree, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: #ECEFF8;
    color: $gray4;
    height: 100dvh; 
    overflow: hidden; 

    .main-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: inherit;
        padding: 0px 10px 0px 4px;
        height: 48px;
        width: 100vw;
    }

    .main-layout {
        display: grid;
        grid-template-columns: auto 1fr;
        border-top-left-radius: 15px;
        background-color: #ECEFF8;
        padding-left: 12px;
        overflow: hidden; 

        .main-sidebar {
            width: 200px;
            background: linear-gradient(to right, #FFFFFF, #ECEFF8);
            border-top-left-radius: 15px;
            height: 100%; 
            overflow-y: auto; 
        }

        .main-content {
            background-color: #ffffff;
            padding: 0 30px 0 38px;
            border-top-left-radius: 15px;
            box-shadow: -3px -1px 8px rgba(0, 0, 0, 0.05);
            overflow: auto;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            color: $clr8;
            text-align: center;
            margin-top: 20px;
        }

        main h1 {
            text-align: left;
        }
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}