.app-container {
    font-family: figtree, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #ECEFF8;
    color: $gray4;

    .main-header {
        font-family: Figtree, sans-serif;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: inherit;
        padding: 0 20px;
        height: 48px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; // Ensure it stays on top
    }

    .main-layout {
        display: flex;
        flex: 1;
        margin-top: 40px; // Offset for the fixed header
        border-top-left-radius: 15px;
        background-color: #ECEFF8;
        overflow: hidden;
        

        .main-sidebar {
            width: 220px;
            background: linear-gradient(to right, #FFFFFF, #ECEFF8);
            padding: 6px;
            border-top-left-radius: 15px;
            flex-shrink: 0; // Prevent shrinking
            height: calc(100vh - 40px); // Adjust for the fixed header height
            position: relative;
            left: 6px;
        }

        .main-content {
            flex: 1; // Take up remaining space
            background-color: #ffffff;
            padding: 18px 38px;
            overflow-y: auto;
            overflow-x: auto;
            border-top-left-radius: 15px;
            z-index: 2;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
            color: $clr8;
            text-align: center;
            margin-top: 20px;
        }

        main h1 {
            text-align: left;
        }
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}