@import "./GroupHeaderTitleRow.scss";
@import "./GroupHeaderColumnRow.scss";
@import "./GroupFooter";
@import "./GroupFooterSummary";
@import "./GroupHeaderColumnTitle";
@import "./GroupFooterNewTask";

.group-preview{
    height: 100%;
    width: max-content;
    box-sizing: border-box;
<<<<<<< HEAD
=======
    border : 1px solid #d0d4e4;
>>>>>>> e652f4f51bf691cc5e070765494ffdc17cf66f53
}