.group-list {
    display: grid;
    grid-template-columns: min-content min-content minmax(100px, 1fr);
    grid-auto-rows: min-content;
    background-color: white;
    @include fade-in(0.3s, 0s);
}

.dnd-context-dragging * {
    cursor: grabbing !important;
}

// Add this for immediate cursor change on mouse down
.group-list *:active {
    cursor: grabbing !important;
}

// Or more specifically target draggable elements
[data-handler-id]:active {
    cursor: grabbing !important;
}