.group-header-sorting {
    grid-column: 1/-1;
    display: flex;
    margin-bottom: 16px;
}

.group-header-sorting-title-row {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto auto;
}


.group-header-sorting-menu {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    width: 40px;
}

.group-header-sorting-left-indicator {
    grid-column: 2;
    grid-row: 1/-1;
    width: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.group-header-sorting-title{
    grid-column: 3;
    display:grid;
    grid-template-columns: repeat(3, max-content) 1fr;
    width: 334px;
    border-top: 1px solid #d0d4e4;
    border-bottom: 1px solid #d0d4e4;
    background-color: white;
}

.collapse-group-icon-wrapper-sorting {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

.group-header-sorting-blank {
    grid-column: 3;
    grid-row: 2;

}

.group-header-sorting-title-text {
    box-sizing: border-box;
    grid-column: 4;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: poppins, sans-serif;
    padding-left: 5px;
    font-size: 18px
}

.group-header-sorting-summary-text {
    display: flex;
    margin: 0;
    grid-column: 4;
    grid-row: 2;
    justify-content: flex-start;
}

.group-column-sorting-last-cell{
    grid-column: 3;
    width: 100%;
    border-top: 1px solid #d0d4e4;
    border-bottom: 1px solid #d0d4e4;
    background-color: white;
}