.group-footer-new-task-row {   
     
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;
    height: 36px;
    box-shadow: 0px 5px 5px rgba(190, 190, 190, 0.1);
}

.group-footer-new-task-wrapper {           
    display: grid;
    grid-column: 1;
    grid-template-columns: min-content min-content min-content 1fr;
    position: sticky;
    left: 0;
    background-color: rgb(255, 255, 255);

}

.new-task-title-input{
    width:90%;
}

.group-footer-new-task-menu{
    display:flex;
    grid-column: 1;
    width: 40px;
    

}
.group-footer-left-indicator {
    grid-column: 2;
    width: 6px;
    border-bottom-left-radius: 6px;
    opacity: 0.5;
    
}

.group-footer-checkbox-wrapper {
    grid-column: 3;
    display: flex;
    width: 34px;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #d0d4e4;
    border-bottom: 1px solid #d0d4e4;
    cursor: pointer;

}

.group-footer-checkbox {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    cursor: pointer;
}

.group-footer-new-task {
    grid-column: 4;
    border-bottom: 1px solid #d0d4e4;
    font-family: 'Figtree';
    font-weight: light;
    color: #323338;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 4px;
    padding-right: 4px;
    

}

.group-footer-new-task-blank {
    grid-column: 2/-1;
    border-bottom: 1px solid #d0d4e4;
}