.group-header-collapsed {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: subgrid;
    margin-bottom: 16px;

}

.group-header-collapsed-title-row {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(3, max-content) 1fr;
    grid-template-rows: 38px 22px;
    border-right: 1px solid #d0d4e4;
    position: sticky;
    left:0;
    background-color: white;

}

.group-header-collapsed-menu {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    width: 40px;
}

.group-header-collapsed-left-indicator {
    grid-column: 2;
    grid-row: 1/-1;
    width: 6px;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;


}

.collapse-group-icon-wrapper-collapsed {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    border-top: 1px solid #d0d4e4;

}

.group-header-collapsed-blank {
    grid-column: 3;
    grid-row: 2;
    border-bottom: 1px solid #d0d4e4;

}

.group-header-collapsed-title-text {
    grid-column: 4;
    grid-row: 1;
    border-top: 1px solid #d0d4e4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;

}

.group-header-collapsed-summary-text {
    display: flex;
    margin: 0;
    padding: 8px;
    grid-column: 4;
    grid-row: 2;
    justify-content: flex-start;
    border-bottom: 1px solid #d0d4e4;
}

.group-columns-collapsed-wrapper {
    display: grid;
    grid-column: 2;
    grid-template-columns: repeat(auto);
    grid-auto-flow: column;
    border-bottom: 1px solid #d0d4e4;
}

.group-column-collapsed
{
    display: grid;
    width:100px;
    border-right: 1px solid #d0d4e4;
    grid-template-rows: 26px, 34px;
    
}
.group-column-collapsed-title {
    display: flex;
    grid-row: 1;
    border-top: 1px solid #d0d4e4;
    font-family: 'Figtree';
    font-weight: light;
    color: #323338;
    font-size: 14px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4px;
    padding-right: 4px;
}

.group-column-collapsed-summary {
    display: flex;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(103, 104, 121);
    
}