@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

.group-footer-summary {
    z-index: 2;
    position: relative;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;    
    color: var(--color-indicator, #000);
    height: 34px;
    padding-left: 6px;
    
    
}

.group-footer-summary-blank{
    width:333px;
    height:100%;
    
}

.group-footer-summary-item-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #d0d4e4;
    border-bottom: 1px solid #d0d4e4;
    border-bottom-left-radius: 6px;
    background-color: #fff;
    height: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.group-footer-summary-item {
    display: flex;
    align-items: center;  
    justify-content: center;
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(103, 104, 121);
    width:100px;
    height: 100%;
    border-right: 1px solid #d0d4e4;
}

.group-footer-last-cell{
    width: 100vw;
    border-right: 1px solid #d0d4e4;

}