.dropdown-summary {
  display: flex;
  align-items: center;
  justify-content: center;

  .label-count{
        background-color: #323338;
        color:white;
        font-size: 12px;
        border-radius: 20px;
        padding:  0px 6px;
  }

  // Cancel hover effects for dropdown inside summary
  .dropdown-item:hover {
    background-color: transparent !important;
  }

  .dropdown-item:hover .dropdown-icons-container {
    opacity: 0 !important;
    visibility: hidden !important;
  }
}
