.task-preview {
    display: flex;
    height: 36px;       
}

.task-left-indicator{
    width: 6px;    
    background-color: #000; 
}

.task-checkbox-wrapper{
    display: flex;
    width:34px;    
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d0d4e4;
    border-right: 1px solid #d0d4e4;
    cursor: pointer;
    
}

.task-checkbox{
    width:16px;
    height:16px;
}

.task-title{
    display: flex;
    font-family: 'Figtree';
    font-weight: light;
    color: #323338;
    font-size: 14px;
    height: 100%;
    width: 300px;
    text-align: center;
    border-bottom: 1px solid #d0d4e4;
    border-right: 1px solid #d0d4e4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    align-items: center;
    padding-left: 36px;
}

.task-preview-item {
    display: block;
    font-family: 'Figtree';
    font-weight: light;
    color: #323338;
    font-size: 13px;
    height: 100%;
    width: 100px;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 36px;
    text-align: center;
    border-bottom: 1px solid #d0d4e4;
    border-right: 1px solid #d0d4e4;
    overflow: hidden;
    text-overflow: ellipsis;   
    white-space: nowrap;  
    color: rgb(102, 102, 102);
}

.task-preview-last-cell{
    border-bottom: 1px solid #d0d4e4;
    width:100vw;
}