.task-preview-title-wrapper {
    display: grid;
    grid-column: 1;
    grid-template-columns: repeat(5, fit-content);
    position: sticky;
    left: 0;
    z-index: 3;
    background-color: white;
    
}

.task-preview-menu {
    display: flex;
    grid-column: 1;
    width: 40px;
    background-color: white;
    align-items: center;
    justify-content: center;

    .task-preview-menu-icon {
        margin-left: 8px;
        padding: 3px;
        border-radius: 3px;
        width: 22px;
        height: 22px;
        display: flex;
        opacity: 0; // Hide by default
        visibility: hidden; // Hide by default
        
        cursor: pointer;
        color: #323338;

        &:hover {
            background-color: rgba(213, 222, 231, 0.343);
            box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.13);
        }
    }
}

.task-left-indicator {
    width: 6px;
    display: flex;
    grid-column: 2;
    background-color: #000;
}

.task-checkbox-wrapper {
    display: flex;
    width: 34px;
    grid-column: 3;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d0d4e4;
    border-right: 1px solid #d0d4e4;

    &:hover {
        background-color: #f0f0f0;
        cursor: pointer;
    }
}

.task-checkbox {
    display: flex;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.task-title {
    display: flex;
    grid-column: 4;
    width: 300px;
    font-family: 'Figtree';
    font-weight: light;
    color: #323338;
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #d0d4e4;
    border-right: 1px solid #d0d4e4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    padding-left: 36px;

    .task-title-inner {
        display: inline-block;
        padding: 0px 4px;
        border-radius: 4px;
        border: 1px solid transparent;
        max-width: 230px;
        /* Limit width to ensure truncation */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: text;

        &:hover {
            border-color: #c9c9c9;
            /* Just change the color on hover */
        }
    }


    .task-title-input {
        display: inline-block;
        padding: 0px 4px;
        border-radius: 3px;
        border: 1px solid #3558e4;
        font-family: 'Figtree';
        font-size: 14px;
        color: #323338;
        background: #fff;
        outline: none;
        width: 100%;
        height: 25px;
        box-sizing: border-box;
        transition: border 0.15s;
        border-right: 1px solid #d0d4e4;
        cursor: text;
    }

}

.task-title-sidebar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d0d4e4;
    border-right: 1px solid #d0d4e4;
    grid-column: 5;
    width: 65px;
    color: #676879;
    cursor: pointer;

    :hover {
        color: #0073ea;
    }

    .has-comments-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0073ea;
        height: 32px;
        width: 36px;

        .has-comments-icon {
            width: 22px;
            height: 22px;
        }

        .comment-count-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 13px;
            height: 13px;
            bottom: 6px;
            right: 19px;
            font-size: 10px;
            border-radius: 50%;
            background-color: #0073ea;

            .comments-count {
                position: relative;
                color: white;
                top: 1px;
                font-size: px;
            }
        }
    }
}