// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;
$clr8: #000000;
$clr9: #0073EA;
$clr10: #007EB5;
$clr11: #0085FF;
$clr12: #00854D;
$clr13: #00C875;
$clr14: #666666;
$clr15: #66CCFF;
$clr16: #676879;
$clr17: #757575;
$clr18: #767676;
$clr19: #784BD1;
$clr20: #7F5347;
$clr21: #0FA2E2;
$clr22: #9CD326;
$clr23: #9D50DD;
$clr24: #A358D0;
$clr25: #BB3354;
$clr26: #C3C6D4;
$clr27: #C3C6D4, 1.95E+4%;
$clr28: #C4C4C4;
$clr29: #CAB641;
$clr30: #CCE5FF;
$clr31: #D0D4E4;
$clr32: #D0D4E4, 2.08E+4%;
$clr33: #D0D4E4, 5.05E+3%;
$clr34: #DCDFEC;
$clr35: #DF2F4A;
$clr36: #ECEFF8;
$clr37: #F5F6F8;
$clr38: #F6F7FB;
$clr39: #FDAB3D;
$clr40: #FF007F;
$clr41: #FF642E;
$clr42: #FFCB00;
$clr43: #FFFFFF;
$clr44: #FFFFFF, 2.55E+4%;
$clr45: #FF5AC4;
$clr46: #037F4C;
$clr47: #1F76C2;
$clr48: #2A6496;
$clr49: #323338;
$clr50: #323338, 2.08E+4%;
$clr51: #323338, 5.05E+3%;
$clr52: #323338, 5.05E+3%;
$clr53: #323338, 5.05E+3%;
$clr54: #323338, 5.05E+3%;
$clr55: #323338, 0.00%;
$clr56: #333333;
$clr57: #333333, 0.00%;
$clr58: #401694;
$clr59: #5559DF;
$clr60: #579BFC;
$clr61: #000000, 20.0%;
$clr62: #000000, 20.0%;
$clr63: #000000, 50.0%;
$clr64: #FFFFFF, 50.0%;
$clr65: #FFFFFF, 70.0%;
$clr66: #FFFFFF, 97.0%;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// Animation Variables
$animation-duration-fast: 0.2s;
$animation-duration-normal: 0.3s;
$animation-duration-slow: 0.4s;