.group-preview {
  position: relative;
}

.drag-handle {
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: grab;
  font-size: 18px;
  color: #777;
  z-index: 10;
  
  &:active {
    cursor: grabbing;
  }
}

.collapsed-drag-handle {
  top: 50%;
  transform: translateY(-50%);
}